@font-face {
    font-family: "Chewy";
    src: url("../assets/chewy.ttf");
}

@font-face {
    font-family: "Bukhari Script";
    src: url("../assets/bukhari script.ttf");
}

* {
    margin: 0;
}

body {
    background-color: #5E8C61;
    font-family: Chewy, Georgia, serif;
    color: #F5F5DC;
}

#landing {
    background-color: #D1BC9A;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:hover {
    /* color: #A9DEF9; */
    color: #71BDA3;
    cursor: pointer;
}

#add-friend {
    background: 0;
    outline: 0;
    border: 0;
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
}

#add-friend:hover {
    cursor: pointer;
}

#add-friend img {
    width: 7rem;
    height: 7rem;
}

#coins-karma {
    background: 0;
    outline: 0;
    border: 0;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    color: #F3C544;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 25px;
    padding: 1.5rem;
}

#coins-karma:hover {
    cursor: pointer;
}

#coins-karma img {
    display: inline;
    width: 2.3rem;
    height: auto;
    margin-right: 0.8rem;
}

#coins-karma p {
    display: inline-block;
    vertical-align: super;
    font-size: 1.8rem;
}

#coins {
    margin-bottom: 0.6rem;
}

#coins-karma p:last-child {
    margin-bottom: 0;
}

header {
    height: 10vh;
    background-color: #5E8C61;
    text-align: center;
    padding-top: 3.5vh;
    position: fixed;
    top: 0;
    width: 100%;
}

header li {
    display: inline-block;
    margin: 0 2.5rem;
    font-size: 1.7rem;
}

header li a {
    color: #F5F5DC;
}

header #centerpiece {
    font-family: "Bukhari Script", script;
    font-size: 2.5rem;
}

header #centerpiece #greenery {
    color: #5E8C61;
}

header #centerpiece #greenery:hover {
    color: #eba2af;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

#alt-bg {
    background-color: #2A1A1F;
}

/* CHAT */
#chat {
    margin: 2.5rem;
    margin-top: 19vh;
    background-color: #F5F5DC;
    border-radius: 25px 25px 25px 25px;
}

#chat-bar {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.1rem 0;
    background-color: #273027;
    border-radius: 25px 25px 0 0;
}

#chat #chat-bar li {
    display: inline-block;
}

#chat #chat-bar li img {
    width: 4rem;
    height: auto;
}

#chat-feed {
    display: block;
    height: 55vh;
    padding-top: 1.5rem;
}

#chat-chat {
    display: flex;
    align-items: center;
    width: 94.25%;
    position: absolute;
    bottom: 2.5rem;
}

#chat-input {
    display: inline-block;
    width: 50%;
    flex: 1;
    padding: 0 1rem;
    background-color: #b2dbce;
    color: #2A1A1F;
}

#chat-input:focus {
    outline: none;
    outline-width: 0;
}

#chat-send {
    display: inline-block;
    margin-left: 1%;
    width: 10%;
    padding: 10px 2px;
    color: #2A1A1F;
    background-color: #eba2af;
}

#chat-send:hover {
    cursor: pointer;
    background-color: #A9DEF9;
}

.chat-chat-form-style {
    height: 3rem;
    padding: 0;
    border-radius: 10px;
    border: 0;
    margin: 0;
    background-color: #71BDA3;
    box-sizing: border-box;
}

.chat-msg {
    display: block;
    color: #2A1A1F;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 0 2.5rem;
    margin-bottom: 1.5rem;
}

.chat-msg:hover, #chat-feed:hover {
    cursor: default;
}

.chat-msg-from {
    text-align: left;
    background-color: #A9DEF9;
}

.chat-msg-to {
    text-align: right;
    background-color: #71BDA3;
}

.chat-msg-noti {
    text-align: center;
    background-color: #eba2af;
}

#light-bg {
    background-color: #F5F5DC;
}

/* PLATE */
#plates {
    display: flex;
    margin: 2.5rem;
    margin-top: 19vh;
    color: #2A1A1F;
    flex-wrap: wrap;
}

.plates-section {
    display: inline-block;
    background-color: #5E8C61;
    padding: 40px;
    border-radius: 25px;
}

.plates-section button {
    background-color: #71BDA3;
    display: block;
    width: 100%;
    margin: 1rem 0;
    color: #2A1A1F;
    font-size: 1.2rem;
}

.plates-section button:last-child {
    margin: 0;
}

.plates-section h2 {
    margin-bottom: 1.3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

#plates-submit {
    width: 55%;
}

#plates-status {
    width: 30%;
    margin-left: 3%;
}

#plates-status h2 {
}

.button {
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 15px 30px;
}

.button:hover {
    pointer: cursor;
    background-color: #F5F5DC;
}

#plates-request {
    display: block;
    margin-top: 2.5rem;
}

#plates-request-button {
    display: inline-block;
    width: 94vw;
    height: 16vh;
    background-color: #5E8C61;
    font-size: 1.9rem;
}

#plates-request-button:hover {
    background-color: #71BDA3;
}

/* LOGIN */
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: 13vh;
}

#login-container {
    width: 40%;
    height: 45%;
    background-color: #F5F5DC;
    border-radius: 25px;
    padding: 3rem;
}

.login-form {
    display: block;
    width: 97%;
    color: #2A1A1F;
    background-color: #b2dbce;
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 1.75rem;
    border: 0;
    padding-left: 1rem;
}

.login-form:focus {
    outline: none;
    outline-width: 0;
}

#login h2 {
    color: #2A1A1F;
    margin-bottom: 1rem;
}

#login-buttons {
    text-align: center;
    margin: 0 auto;
}

#login-buttons .button {
    width: 30%;
    margin: 0 2rem;
}

#login #login-buttons .button:hover {
    background-color: #2A1A1F;
    color: #eba2af;
    cursor: pointer;
}

#login-buttons #login-submit {
    background-color: #71BDA3;
}

#login-buttons #login-signup {
    background-color: #A9DEF9;
}

/* ADD FRIEND */
#addfriend {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-top: 15vh;
}

#addfriend-container {
    width: 40%;
    height: 35%;
    background-color: #F5F5DC;
    border-radius: 25px;
    padding: 3rem;
}

#addfriend-email {
    display: block;
    width: 97%;
    color: #2A1A1F;
    background-color: #b2dbce;
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 1.75rem;
    border: 0;
    padding-left: 1rem;
}

#addfriend-email:focus {
    outline: none;
    outline-width: 0;
}

#addfriend h2 {
    color: #2A1A1F;
    margin-bottom: 1rem;
}

#addfriend-button {
    text-align: center;
    margin: 0 auto;
    width: 30%;
}

#addfriend-submit:hover {
    background-color: #2A1A1F;
    color: #eba2af;
    cursor: pointer;
}

#addfriend-submit {
    background-color: #71BDA3;
}

/* WORLDS */
#worlds {
    margin: 0 auto;
    margin-top: 35vh;
}
.worlds-arrow {
    background: 0;
    outline: 0;
    border: 0;
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
}

.worlds-arrow:hover {
    cursor: pointer;
}

.worlds-arrow img {
    width: 7rem;
    height: auto;
    position: fixed;
    top: 50%;
}

#worlds-arrow-left img {
    left: 1rem;
}

#worlds-arrow-right img {
    right: 1rem;
}

#worlds-container {
    display: flex;
    padding: 0 4rem;
}

.world-world {
    display: inline-block;
    width: calc(100% / 3);
    color: #2A1A1F;
}

.world-world:first-child {
    margin-left: 13%;
}

.world-map {
    display: inline-block;
    width: 70%;
}

.world-map:hover {
    cursor: pointer;
}

.world-map:last-child {
    margin-bottom: 3rem;
}

.world-world p {
    text-align: center;
    margin-right: 35%;
    margin-top: 5%;
    font-size: 1.4rem;
}

#worlds-karma {
    background: 0;
    outline: 0;
    border: 0;
    position: absolute;
    top: 10rem;
    right: 4rem;
    color: #F3C544;
    font-size: 1.7rem;
}

#worlds-karma img {
    display: inline-block;
    width: 2.3rem;
    height: auto;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem;
}

#worlds-karma p {
    display: inline-block;
    vertical-align: super;
}

/* MARKET */
#market {
    margin: 0 auto;
    margin-top: 25vh;
}
.market-arrow {
    background: 0;
    outline: 0;
    border: 0;
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
}

.market-arrow:hover {
    cursor: pointer;
}

.market-arrow img {
    width: 7rem;
    height: auto;
    position: fixed;
    top: 50%;
}

#market-arrow-left img {
    left: 1rem;
}

#market-arrow-right img {
    right: 1rem;
}

#market-container-top {
    display: flex;
    padding: 0 8rem;
}

#market-container-bottom {
    display: flex;
    padding: 0 8rem;
}

.market-item {
    display: inline-block;
    width: calc(100% / 4);
    color: #2A1A1F;
}

.market-item:hover {
    cursor: pointer;
}

.market-item:first-child {
    margin-left: 10%;
}

#bike, #flowerpot {
    margin-top: 30%;
    margin-left: 10%;
}

#market-coins {
    background: 0;
    outline: 0;
    border: 0;
    position: absolute;
    top: 10rem;
    right: 4rem;
    color: #F3C544;
    font-size: 1.6rem;
}

#market-coins img {
    display: inline;
    width: 2.3rem;
    height: auto;
    margin-right: 0.8rem;
}

#market-coins p {
    display: inline-block;
    vertical-align: super;
}
